.about-section{
    display: grid;
    margin: 2rem 0 ;
    grid-template: 100%/ 60% 40%;
    @media only screen and (max-width:821px){
        grid-template: 30rem 1fr/ 100%
    }
}
.about-text{
    padding: 0 1rem;
    @media only screen and (max-width:821px){
        grid-area: 2/1/3/2
    }
   
}
.about-images{
    @media only screen and (max-width:821px){
        .about-images{
            grid-area: 1/1/2/2
        }
    }
}
.irregular-collage{
    position: relative;
    text-align: center;
}
.about-image1,.about-image2,.about-image3{
    width: 110px;
    position: relative;
    padding: 0rem 0;
    
}
.about-image1{
    z-index: 1;
    transform: scale(1.8) rotate(6deg);
    top: 6rem;
    left:12.4rem;
        @media only screen and (max-width:821px){
            transform: scale(2.3) rotate(4deg);
            left: 7rem;
            top: 9rem;
        }
        @media only screen and (max-width:600px){
            z-index: 1;
            transform: scale(1.8) rotate(6deg);
            top: 6rem;
            left:12.4rem;
        }
}
.about-image2{
transform: scale(2.3) rotate(-3deg);
top: -2rem;
left:-3rem;
    @media only screen and (max-width:821px){
        transform: scale(2.6) rotate(-5deg);
        top: 11rem;
        left: -13rem;
    }
    @media only screen and (max-width:600px){
        transform: scale(2.3) rotate(-3deg);
        top: -2rem;
        left:-3rem;
    }

}
.about-image3{
    z-index: 3;
    transform: scale(2.4) rotate(3deg);
    top: 15rem;
    right: 8rem;
    @media only screen and (max-width:653px){
        z-index: 3;
        transform: scale(2.1) rotate(3deg);
        top: 15rem;
        right: 10rem;
    }
    @media only screen and (max-width:821px){
        transform: scale(2.6) rotate(6deg);
        top: 12rem;
        z-index: 2;
        left: 6rem;       
    }
    
}