.hero{
    background-image: url(../images/hero-image.jpg) ;
    background-size: cover;
    background-position: center;
    z-index:-1;
    height: 100vh;
    max-height: 2000px;
    @media only screen and (max-width:768px){
        background-position: 70% 10%;
    }
}
.overlay{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.9),rgba(0,0,0,0.6));
    height: 100vh;
    max-height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.hero-section{
    position:relative;
    top:-100px;
    opacity:0;
}
.hero-text{
    font-size: 3.8rem;
    letter-spacing: 5px;
    font-family: $playfair-display;
    @media only screen and (max-width:768px){
        font-size: 3rem;
        letter-spacing: 3px;
    }
    @media only screen and (max-width:320px){
        font-size: 2.5rem;
    }
}
.hero-paragraph{
    font-size: 1.3rem;
    letter-spacing: 2.6px;
    word-spacing: 1.8px;
    margin-top: -.6rem;
    @media only screen and (max-width:768px){
        font-size: 1.1rem;
        margin-top: -.6rem;
    }
    @media only screen and (max-width:320px){
        font-size: 1rem;
    }
}
.hero-button{
    width: 13rem;
    font-size: 1.4rem;
    margin-top:2rem;
    cursor: pointer;
    padding: 0.8rem 1rem;
    background-color: $primary-color;
    color:white;
    transition: 0.4s;
    box-shadow: 0 5px 0 darken($primary-color,6%);
    &:focus{
        outline:none;
    }
    &:hover{
        background-color: lighten($primary-color,6%);
    }
    @media only screen and (max-width:768px){
        font-size: 1.1rem;
        margin-top: 2em;
    }
}