#lightbox{
    position: fixed;
    top:0;
    width:100vw;
    background-color:rgba(0,0,0,0.9845);
    height:100vh;
    margin:0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out ;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}
#lightbox.active{
    visibility: visible;
    opacity: 1;
}
.arrow, #closerLightbox{
    font-size: 2rem;
    cursor: pointer;
}
#closerLightbox{
    position:fixed;
    right:0;
    top:1.5rem;
    margin-right: 2rem;
    @media only screen and (max-width:768px){
        top:.2rem;
        margin-right: .5rem;
    }
}
.arrow{
    font-size:3rem;
    position: fixed;
    &Right{
        right: 2rem;
        @media only screen and (max-width:768px){
            right:.6rem;
        }
    }
    &Left{
        left:2rem;
        @media only screen and (max-width:768px){
            left:.6rem;
        }
    }
}
.square{
    max-width:80%;
    max-height:72%;
    display:flex;
    justify-content: center;
}

.image-lightbox{
    max-width:100%;
    max-height:100%;
    position: relative;
    bottom: 5rem;
}
.miniatures-grid{
    max-width:80%;
    height:18%;
    display:grid;
    grid-template: 1fr/ repeat(7,1fr);
    position: absolute;
    bottom: 2.6rem;
    right:10%;
    @media only screen and (max-width:768px){
        grid-template: 1fr 1fr/ repeat(7,33.3%);
        overflow-y: hidden;
        overflow-x: scroll;
        height:20%;
        ::-webkit-scrollbar {
            width: 0px;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
    }
}
.miniature{
    opacity: 0.5;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
        opacity:1;
    }
}
.miniature-image{
     max-width:100%;
     position: relative;
     margin-left:auto;
     margin-right: auto;
}

