.profiles{
    margin:0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
        @media only screen and (max-width: 766px){
            flex-flow: column wrap;
            align-items: center;
        }
    
    &__card{
        padding:1rem;
        max-width:28%;
        text-align: center;
        @media screen and (max-width:766px){
            max-width:100%
        }
    }
}
@media only screen and (min-width:768px){
    .profiles.animation-element{
        position: relative;
        //bottom:-200px;
        opacity:0;
        transition: 0.4s linear; 
    }
    .profiles.animation-element.in-view{
        opacity:1;
        //bottom:0;
    }
}
