.service-container{
    margin-bottom: 10rem;
}
.service{
    position: relative;
    top:2rem;
    margin-bottom: 16rem;
}
.service-image{
    position:relative;
    left: 150px;
}
.trial{
    max-width: 600px;
    height:100%;
    background-color: white;
    position:relative;
    top: 280px;
    right: 150px;
    padding: 2rem;
    box-shadow: 5px 12px 40px rgba(0,0,0,0.3);
}