@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

$montserrat: 'Montserrat', sans-serif;
$light-montserrat: 300;
$bold-sans: 400;

$playfair-display: 'Prata', serif;
$light-weight: 100;
$primary-color: rgb(28, 115, 141);
