@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

$open-sans: 'Open Sans', sans-serif;
$light-sans: 100;
$bold-sans: 400;

$primary-color: rgb(28, 115, 141);
